<table width="100%" class="mt-4">
  <tr>
    <td align="right" valign="bottom" class="active"><%= image_tag 'lock.png', class: 'lock_img' %> 4</td>
    <td><%= image_tag 'lock.png', class: 'lock_img' %> W</td>
    <td><%= image_tag 'lock.png', class: 'lock_img' %><%= image_tag 'direction_img.png' %></td>
    <td><%= image_tag 'lock.png', class: 'lock_img' %> 3</td>
  </tr>
</table>