<div class="form-group">
  <label class="form_heading"><%= question.statement %></label>

  <div class="form-group">
    <%= f.text_field :answer, class: 'form-control show_ans_box answer' %>
  </div>

</div>
<div class="form-group">
  <%= select_tag 'status', options_for_select(options_for_number_question), class: 'form-control select_option' %>
</div>

<div class="form-group">
  <%= select_tag 'status', options_for_select(options_for_number_question), class: 'form-control select_option' %>
</div>

<div class="form-group">
  <%= select_tag 'status', options_for_select(options_for_number_question), class: 'form-control select_option' %>
</div>
