<div class="form-group">
  <label class="form_heading"><%= question.statement %></label>
  <div class="form-group">
    <div class="show_ans_box directional_answer"></div>
    <%= f.hidden_field :answer, id: 'final_answer' %>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4"><%= text_field_tag :up, 'U', class: 'option-input dir_up direction', data: {class: 'fa fa-arrow-up p-2'} %></div>
    <div class="col-4"></div>

    <div class="col-4"> <%= text_field_tag :left, 'L', class: 'option-input dir_left direction', data: {class: 'fa fa-arrow-left p-2'} %></div>
    <div class="col-4"></div>
    <div class="col-4">    <%= text_field_tag :right, 'R', class: 'option-input dir_right direction', data: {class: 'fa fa-arrow-right p-2'} %></div>

    <div class="col-4"></div>
    <div class="col-4"> <%= text_field_tag :down, 'D', class: 'option-input dir_down direction', data: {class: 'fa fa-arrow-down p-2'} %></div>
    <div class="col-4"></div>
  </div>
</div>


