<%= render(partial: 'teams/question', locals: {question: @question, team: @team}) %>
<div class="hint"></div>
<script>
    populate_answer();
    teamGame('<%= @team.id%>');
    gameState('<%= @team&.game.id%>');
    teamNotify('<%= current_student.id%>');
    $('.main_container').find('.confirm_scream').on('click', function () {
        $.ajax({
            type: "GET",
            dataType: "script",
            url: '/teams/scream',
            success: function (data) {
                $('.hint').html('<footer class="hint_show">\n' +
                    '        <strong>Hint:</strong> <%= @question.hint%>\n' +
                    '\n' +
                    '  </footer>')
            }
        });
    });
    var answer = [];
    $('.main_container').find('.direction').on('click', function () {
        var tag = $("<i aria-hidden='true' class='" + $(this).data('class') + "'></i>");
        $('.directional_answer').append(tag);
        answer.push($(this).data('value'));
        $('.main_container').find('#final_answer').val(answer.join(''))
    });

    show_prepopulated_field()
</script>