<div class="banner">
  <div class="play_btn">
    <%= link_to 'https://youtu.be/4BOEajFZ8Lg', target: '_blank', class: 'play_btn' do %>
        <i class='fa fa-play' aria-hidden="true"></i>
    <% end %>
  </div>

  <h3>ACADEMIC ESCAPE ROOM PUZZLES FOR THE CLASSROOM</h3>

</div><!--/banner-->

<div class="boxes-4 row">
  <div class="col-6 col-sm-6 download_print">
    <%#= link_to download_pdf_games_path, target: '_blank' do %>
    <%= image_tag('download-icon.png') %>
    <%# end %>
    <h4>Download and print cluesheets</h4>
  </div>

  <div class="col-6 col-sm-6 projector_color">
    <%= image_tag('Projector-icon.png') %>
    <h4>Start game on your Projector and speaker</h4>
  </div>

  <div class="col-6 col-sm-6 smartphone_color">
    <%= image_tag('smartphone-icon.png') %>
    <h4>Kidsters sign in with smartphones</h4>
  </div>

  <div class="col-6 col-sm-6 dose_rest_color">
    <%= image_tag('dose-rest-icon.png') %>
    <h4>Escape Monster does the rest</h4>
  </div>

</div>


<div class="container-fluid light_bg">
  <div class="container">
    <div class="row">

      <div class="col-sm-4 game_box">
        <figure><%= image_tag('game-image-1.jpg') %>
          <%= link_to 'Play Now', 'javascript:void(0);', class: "playnow_btn nav-link" %>
        </figure>
        <h2>The Vampire</h2>
        <p>Game Time: <strong>30 minutes</strong></p>
        <p>Subject: <strong>Science</strong></p>
        <p>Level: <strong>12</strong></p>
      </div>


      <div class="col-sm-4 game_box">
        <figure><img src="http://cloud.gametop.com/download-free-games/cattch/m0.jpg">
          <%= link_to 'Play Now', 'javascript:void(0);', class: "playnow_btn nav-link" %>
        </figure>
        <h2>The Cave</h2>
        <p>Game Time: <strong>30 minutes</strong></p>
        <p>Subject: <strong>Science</strong></p>
        <p>Level: <strong>12</strong></p>
      </div>

      <div class="col-sm-4 game_box">
        <figure><%= image_tag('game-image-1.jpg') %>
          <%= link_to 'Play Now', 'javascript:void(0);', class: "playnow_btn nav-link" %>
        </figure>
        <h2>Dr. Mittens</h2>
        <p>Game Time: <strong>30 minutes</strong></p>
        <p>Subject: <strong>Science</strong></p>
        <p>Level: <strong>12</strong></p>
      </div>


      <div class="col-sm-4 game_box">
        <figure><%= image_tag('game-image-1.jpg') %>
          <%= link_to 'Play Now', 'javascript:void(0);', class: "playnow_btn nav-link" %>
        </figure>
        <h2>Mr. Roboto</h2>
        <p>Game Time: <strong>30 minutes</strong></p>
        <p>Subject: <strong>Science</strong></p>
        <p>Level: <strong>12</strong></p>
      </div>

      <div class="col-sm-4 game_box">
        <figure>
          <%= image_tag('game-image-3.jpg') %>
          <%= link_to 'Play Now', 'javascript:void(0);', class: "playnow_btn nav-link" %>
        </figure>
        <h2>The Vampire</h2>
        <p>Game Time: <strong>30 minutes</strong></p>
        <p>Subject: <strong>Science</strong></p>
        <p>Level: <strong>12</strong></p>
      </div>
    </div> <!--row-->
  </div>
</div><!--container-fluid-->
