<div class="banner">
  <div class="play_btn">
    <%= link_to 'https://youtu.be/4BOEajFZ8Lg', target: '_blank', class: 'play_btn' do %>
        <i class='fa fa-play' aria-hidden="true"></i>
    <% end %>
  </div>

  <h3>ACADEMIC ESCAPE ROOM PUZZLES FOR THE CLASSROOM</h3>

</div><!--/banner-->

<div class="boxes-4 row">
  <div class="col-6 col-sm-6 download_print">
    <%#= link_to download_pdf_games_path, target: '_blank' do %>
    <%= image_tag('download-icon.png') %>
    <%# end %>
    <h4>Download and print cluesheets</h4>
  </div>

  <div class="col-6 col-sm-6 projector_color">
    <%= image_tag('Projector-icon.png') %>
    <h4>Start game on your Projector and speaker</h4>
  </div>

  <div class="col-6 col-sm-6 smartphone_color">
    <%= image_tag('smartphone-icon.png') %>
    <h4>Kidsters sign in with smartphones</h4>
  </div>

  <div class="col-6 col-sm-6 dose_rest_color">
    <%= image_tag('dose-rest-icon.png') %>
    <h4>Escape Monster does the rest</h4>
  </div>

</div>


<div class="container-fluid light_bg">
  <div class="container">
    <div class="row">
      <% GameTemplate.all.each do |template| %>
          <div class="col-sm-4 game_box">
            <figure><%= image_tag(template.avatar.url) %>
              <%= link_to 'Play Now', new_game_path({game_template: template}), class: "playnow_btn nav-link" %>
            </figure>
            <h2><%= template.name %></h2>
            <p>Game Time: <strong>30 minutes</strong></p>
            <p>Subject: <strong><%= template.subject %></strong></p>
            <p>Level: <strong><%= template.level %></strong></p>
          </div>
      <% end %>
    </div> <!--row-->
  </div>
</div><!--container-fluid-->
