<div class="container teams_container">

  <div class="row">
    <div class="col-sm-6 time_start ml-auto">
      30:00
    </div>

    <div class="col-sm-6">
      <div class="music_box row p-1">
        <div class="col-6 text-left p-0"><%= @audio.audio_file_name %></div>
        <div class="col-6 text-right p-0">03.44</div>
        <div class="w-100 text-center mt-3">
          <span class=""><%= link_to change_audio_game_path, remote: true do %>
                        <%= image_tag 'backward.png' %></span>
            <% end %>
            <%= audio_tag @audio.audio.url, autoplay: false, controls: true, class: 'my_player' %>
            <span class=""><%= image_tag 'forward.png' %></span>
            </div>
      </div>
    </div>
  </div>
  <!--/row-->
  <div class="row">
    <div class="col-sm-6 score_clan red">
      <h2>Red Clan <span>Hint:1</span></h2>
      <table width="100%">
        <tr>
          <td align="right" valign="bottom"><%= image_tag 'unlock.png', class: 'lock_img' %> 4</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> W</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %>
            <%= image_tag 'direction_img.png' %></td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> 3</td>
        </tr>
      </table>
    </div>
    <!--/score_clan-->


    <div class="col-sm-6 score_clan yellow">
      <h2>Yellow Clan</h2>
      <table width="100%">
        <tr>
          <td align="right" valign="bottom"><%= image_tag 'unlock.png', class: 'lock_img' %> 4</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> W</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %>
            <%= image_tag 'direction_img.png' %></td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> 3</td>
        </tr>

      </table>
    </div>
    <!--/score_clan-->

    <div class="col-sm-6 score_clan green">
      <h2>Green Clan</h2>
      <table width="100%">
        <tr>
          <td align="right" valign="bottom"><%= image_tag 'unlock.png', class: 'lock_img' %> 4</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> W</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> <%= image_tag 'direction_img.png' %></td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> 3</td>
        </tr>

      </table>
    </div>
    <!--/score_clan-->

    <div class="col-sm-6 score_clan blue">
      <h2>Blue Clan</h2>
      <table width="100%">
        <tr>
          <td align="right" valign="bottom"><%= image_tag 'unlock.png', class: 'lock_img' %> 4</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> W</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> <%= image_tag 'direction_img.png' %></td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> 3</td>
        </tr>

      </table>
    </div>
    <!--/score_clan-->

    <div class="col-sm-6 score_clan purple">
      <h2>Purple Clan</h2>
      <table width="100%">
        <tr>
          <td align="right" valign="bottom"><%= image_tag 'unlock.png', class: 'lock_img' %> 4</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> W</td>
          <td><%= image_tag 'lock.png', class: "lock_img" %>
            <%= image_tag 'direction_img.png' %></td>
          <td><%= image_tag 'lock.png', class: "lock_img" %> 3</td>
        </tr>
      </table>
    </div>
    <!--/score_clan-->

    <div class="col-sm-6 score_clan pink">
      <h2>Pink Clan</h2>
      <table width="100%">
        <tr>
          <td align="right" valign="bottom"><%= image_tag 'unlock.png', class: 'lock_img' %> 4</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> W</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> <%= image_tag 'direction_img.png' %></td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> 3</td>
        </tr>

      </table>
    </div>
    <!--/score_clan-->
  </div>
  <!--/row-->
  <div class="text-right">
            <span class="outer_btn text-center primery-gradient-l-r">
  <%= link_to 'Pause Game', 'javascript:void(0);', id: 'resume_game' %>
                  </span>
  </div>
</div>

<script>
  $('#resume_game').on('click',function(){
      $.ajax({
          type: "GET",
          dataType: "script",
          url: "<%== switch_game_path(@game) %>",
          success: function(data){
              console.log(data)
          }
      });

  })
</script>