<div class="container teams_container">

  <div class="row">
    <div class="col-sm-6 time_start ml-auto">
      <% if @game.state %>
          <div class='timer' data-minutes-left='<%= @game.time_left[:minutes] %>' data-seconds-left="<%= @game.time_left[:seconds] %>">
          </div>
      <% end %>
    </div>

    <div class="col-sm-6 change_audio">
      <%= render partial: 'games/audio', locals: {audio: @audio} %>
    </div>
  </div>
  <div class="row">
    <% @game.teams.each do |team| %>
        <div class="col-sm-6 score_clan <%= team.name %>">
          <h2><%= team.name.titleize %> <span>Hint:<%= team.hint_counter %></span></h2>
          <table width="100%">
            <tr>
              <td align="right" valign="bottom"><%= image_tag lock_image(team.questions.first), class: 'lock_img' %>4
              </td>
              <td><%= image_tag lock_image(team.questions.second), class: 'lock_img' %> W</td>
              <td><%= image_tag lock_image(team.questions.third), class: 'lock_img' %><%= image_tag 'direction_img.png' %></td>
              <td><%= image_tag lock_image(team.questions.fourth), class: 'lock_img' %> 3</td>
            </tr>
          </table>
        </div>
    <% end %>
  </div>

  <!--/score_clan-->
  <!--/row-->
  <div class="text-right">
            <span class="outer_btn text-center primery-gradient-l-r">
              <%= link_to switch_game_path(@game), id: 'pause' do %>
                <%= game_state_button %>
              <% end %>
              <!--<button id="stopTimer" style="display: none"/>-->
            </span>
  </div>
</div>

<script>
    studentNotify('<%= @game.id%>');
    if (<%= @game.state %>) {
        $('.timer').startTimer();
    }
</script>