<div class="container teams_container">

  <div class="row">
    <div class="col-sm-6 time_start ml-auto">
      30:00
    </div>

    <div class="col-sm-6">
      <div class="music_box row p-1">
        <div class="col-6 text-left p-0"><%= @audio.audio_file_name %></div>
        <div class="col-6 text-right p-0">03.44</div>


        <span class=""><%= image_tag 'backward.png' %></span>
        <audio id='audio'>
          <source src="<%= @audio.audio.url %>">
        </audio>
        <div class="btn-group btn-group-xs">
          <a href='javascript:void(0)' class="btn btn-default play_pause" data-toggle="tooltip" title="Preview"><i id="stateicon" class="fa fa-play-circle"></i></a>
        </div>
        <span class=""><%= image_tag 'forward.png' %></span>
      </div>
    </div>
  </div>
  <!--/row-->
  <div class="row">

    <div class="col-sm-6 score_clan red">
      <h2>Red Clan <span>Hint:1</span></h2>
      <table width="100%">
        <tr>
          <td align="right" valign="bottom"><%= image_tag 'unlock.png', class: 'lock_img' %> 4</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> W</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %>
            <%= image_tag 'direction_img.png' %></td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> 3</td>
        </tr>
      </table>
    </div>
    <!--/score_clan-->


    <div class="col-sm-6 score_clan yellow">
      <h2>Yellow Clan</h2>
      <table width="100%">
        <tr>
          <td align="right" valign="bottom"><%= image_tag 'unlock.png', class: 'lock_img' %> 4</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> W</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %>
            <%= image_tag 'direction_img.png' %></td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> 3</td>
        </tr>

      </table>
    </div>
    <!--/score_clan-->

    <div class="col-sm-6 score_clan green">
      <h2>Green Clan</h2>
      <table width="100%">
        <tr>
          <td align="right" valign="bottom"><%= image_tag 'unlock.png', class: 'lock_img' %> 4</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> W</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> <%= image_tag 'direction_img.png' %></td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> 3</td>
        </tr>

      </table>
    </div>
    <!--/score_clan-->

    <div class="col-sm-6 score_clan blue">
      <h2>Blue Clan</h2>
      <table width="100%">
        <tr>
          <td align="right" valign="bottom"><%= image_tag 'unlock.png', class: 'lock_img' %> 4</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> W</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> <%= image_tag 'direction_img.png' %></td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> 3</td>
        </tr>

      </table>
    </div>
    <!--/score_clan-->

    <div class="col-sm-6 score_clan purple">
      <h2>Purple Clan</h2>
      <table width="100%">
        <tr>
          <td align="right" valign="bottom"><%= image_tag 'unlock.png', class: 'lock_img' %> 4</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> W</td>
          <td><%= image_tag 'lock.png', class: "lock_img" %>
            <%= image_tag 'direction_img.png' %></td>
          <td><%= image_tag 'lock.png', class: "lock_img" %> 3</td>
        </tr>
      </table>
    </div>
    <!--/score_clan-->

    <div class="col-sm-6 score_clan pink">
      <h2>Pink Clan</h2>
      <table width="100%">
        <tr>
          <td align="right" valign="bottom"><%= image_tag 'unlock.png', class: 'lock_img' %> 4</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> W</td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> <%= image_tag 'direction_img.png' %></td>
          <td><%= image_tag 'lock.png', class: 'lock_img' %> 3</td>
        </tr>

      </table>
    </div>
    <!--/score_clan-->


  </div>
  <!--/row-->


  <div class="text-right">
            <span class="outer_btn text-center primery-gradient-l-r">
  <a href="#" class="">Pause Game</a>
                  </span>
  </div>


</div>
<script>
    $('.play_pause').on('click', function () {
        aud_play_pause()
    });

    function aud_play_pause() {
        var myAudio = document.getElementById('audio');
        if (myAudio.paused) {
            $('#stateicon').removeClass('fa fa-play-circle');
            $('#stateicon').addClass('fa fa-pause-circle');
            myAudio.play();
        } else {
            $('#stateicon').removeClass('fa fa-pause-circle');
            $('#stateicon').addClass('fa fa-play-circle');
            myAudio.pause();
        }
    }
</script>