<div class="container teams_container">

  <div class="row">
    <div class="col-sm-6 time_start ml-auto">
      <span id="ms_timer"></span>
    </div>

    <div class="col-sm-6 change_audio">
      <%= render partial: 'games/audio', locals: {audio: @audio} %>
    </div>
  </div>
  <div class="row">
    <% @game.teams.each do |team| %>
        <div class="col-sm-6 score_clan <%= team.name %>">
          <h2><%= team.name.titleize %> <span>Hint:1</span></h2>
          <table width="100%">
            <tr>
              <td align="right" valign="bottom"><%= image_tag lock_image(team.questions.first), class: 'lock_img' %>4
              </td>
              <td><%= image_tag lock_image(team.questions.second), class: 'lock_img' %> W</td>
              <td><%= image_tag lock_image(team.questions.third), class: 'lock_img' %><%= image_tag 'direction_img.png' %></td>
              <td><%= image_tag lock_image(team.questions.fourth), class: 'lock_img' %> 3</td>
            </tr>
          </table>
        </div>
    <% end %>
  </div>

  <!--/score_clan-->
  <!--/row-->
  <div class="text-right">
            <span class="outer_btn text-center primery-gradient-l-r">
              <%= link_to 'Pause Game', 'javascript:void(0)', id: 'pause' %>
            </span>
  </div>
</div>

<script>
    $('#pause').on('click', function () {
        $.ajax({
            type: "GET",
            dataType: "script",
            url: "<%== switch_game_path(@game) %>",
            success: function (data) {
                console.log(data)
            }
        });
    });
    $("#ms_timer").countdowntimer({minutes: 30, size: 'lg', pauseButton: "pause"});
</script>